<br/>
<h3 class="text-center">Change food record</h3>
<form action="/change_food_record/<%= @single_record.id %>" method="post" id="change_food_name">
	Item name : <select name="goods_info_id" form="change_food_name">
		<% @goods_information.each {|food| %>
		<option value =<%=food.id %> 
			<% if @single_record.goods_info_id == food.id then %>
				selected
			<% end %>
			><%= food.goods_name %>
				
		</option>
		<% } %>
	</select>
	<input type="hidden" name="_method" value="put">
	<input type="hidden" name="user_id" value=<%= current_user.id %>>
	<input type="hidden" name="fridge_id" value=<%= @fridge_id %>>
	goods_expire_date:<input type="date" name="goods_expire_date" value=<%= @single_record.goods_expire_date %>></br></br>
	goods_quantity:<input type="text" name="goods_quantity" value=<%= @single_record.goods_quantity %>></br></br>

	<button class="btn btn-secondary">input</button>
</form>