<div class="dashboard">
<% if current_user %>
	<h1>Hello, <%= current_user["username"] %></h1>
	<h2>Here is your own fridge list</h2>
	<a href="fridges/new">add new fridge</a>
	<div class="table-responsive">
		<table class="table text-center">
			<thead class="thead-light ">
			  <tr>
			    <th scope="col">fridge name</th> 
			    <th scope="col">fridge location</th> 
			    <th scope="col">share to others</th>
			    <th scope="col">open the fridge</th>
			    <th scope="col">remove the fridge</th>
			  </tr>
			</thead>
			<tbody>
			  <% @own_fridge_detail_list.each{|fridge| %>
			  <tr>
			    <td><%= fridge.fridge_name %></td> 
			    <td><%= fridge.fridge_location %></td> 
			    <td>
			    	<form action="/fridges/<%= fridge.id %>/share">
							<button class="btn btn-success">share</button>
						</form>
			    </td>
			    <td><a href="/fridges/<%= fridge.id %>"><button class="btn btn-primary">open</button></a></td> 
			    <% if fridge_is_empty?(fridge.id)%>
			    <td>
			    	<form action="/delete_fridge/<%= fridge.id %>" method="post">
							<input type="hidden" name="_method" value="delete">
							<button class="btn btn btn-warning">delete</button>
						</form>
					</td>
					<% else%>
					 <td>
						<button class="btn btn-outline-dark" disabled>delete</button>
					</td>
					<% end %>
			  </tr>
				<% } %>
			</tbody>
		</table>
	</div>


	<h2>Here is your share fridge list</h2>
	<div class="table-responsive">
		<table class="table text-center">
			<thead class="thead-light ">
			  <tr>
			    <th scope="col">fridge_name</th> 
			    <th scope="col">fridge_location</th> 
			    <th scope="col">open the fridge</th>
			  </tr>
			</thead>
			<tbody>
			  <% @share_fridge_detail_list.each{|fridge| %>
			  <tr>
			    <td><%= fridge.fridge_name %></td> 
			    <td><%= fridge.fridge_location %></td> 
			    <td><a href="/fridges/<%= fridge.id %>"><button class="btn btn-primary">open</button></a></td> 
			  </tr>
				<% } %>
			</tbody>
		</table>
	</div>
<% else %>
	<h3>Hi, I am fridge manager</h3>
	<p>Please signin to use me</p>
	<form action="/session" method="POST">
		<div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
		<div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <div class="button-group">
			<button class="btn btn-secondary">LOGIN</button>
			<a href="/users/new">No account? <span class="text-warning">SIGNUP!</span></a> 	
	  </div>
	</form>
<% end %>

</div>